.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 10px;
    background-color:  #3298dc;
    color:  black;
}

.pelicanFooter {
    padding-bottom: 10px;
    padding-top: 0px;
}


h1 {
    text-align: center;
}



button {
    margin-left: -24px;
    
}

h2 {
    text-align: center;
    font-size: 32px;
}



#topTab {
    background-color: turquoise;
}



#savingGoal {
    justify-content: center;
}



