h1 {
    text-align: center;
    text-shadow: 2px 2px #000000;
    transition-duration: 1s;
  
}

h1:hover {
    letter-spacing: 10px;
  }


h2 {
    text-align: center;
    font-size: 32px;
}

button {
    margin-left: -24px;
    
}

#topTab {
    background-image: url("./images/moneyfalling.gif");
    
}


#savingGoal {
    justify-content: center;
}


.panel {
    background-color: teal;
}

.panel-heading {
    background-color: lightseagreen;
}

.column-is-three-fifths{
    margin-left: 40px;
    margin-top: 70px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 20px;
    background-color:  lightseagreen;
    color:  black;
    margin-top: 10px;
    text-align: center;
}

/* .pelicanFooter {
    padding-bottom: 50px;
    padding-top: 10px;
} */

.column {
    float: left;
    width: 450px;
    height: 300px;
    margin-bottom: 90px;
    padding-left: 10px;
  }
  
#charts {
    margin-top: 40px;
}

#giphy-api {
    margin-left: 130px;
    background-color: white;
}

#pie-chart {
    margin-left: 50px;
    background-color: white;
}

